* {
    margin: 0;
    padding: 0;
}

.bag {
    min-height: 200px;
    position: relative;
    padding-bottom: 20px;
}

.bag_products {
    list-style: none;
}

.bag_item {
    display: grid;
    grid-template-columns: 200px 100px;
}

.bag_sum {
    display: grid;
    grid-template-columns: 50px 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: bold;
}

.buy {
    padding: 5px calc(50% - 1172px / 2);
}

.buy-title {
    text-align: center;
    margin-top: 45px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.buy-option-title {
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 7px;

}

.buy-option-list {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 40px;
    text-align: left;
    margin-top: 5px;
}

.price {
    box-sizing: border-box;
    border: 2px solid #445162;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    padding-top: 25px;
    padding-bottom: 15px;
}

.buy_button {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #445161;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-left: 112px;
    padding-right: 135px;
    padding-top: 16px;
    padding-bottom: 9px;
}

.buy_button_box {
    margin-top: 35px;
    margin-bottom: 24px;
    margin-left: 19px;

}

.wrap-option {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    align-items: flex-end;
    margin-top: 25px;
    margin-bottom: 50px;

}

.option {
    width: 32%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #445162;
    margin-right: 45px;

}